{% extends 'base.html' %}


{% block content %}


<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
	<h1 class="display-4 fw-normal">This is the body</h1>
	<p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>

	{% for question in questions %}
		{% include 'personal/snippets/body_snippet.html' with value=question %}
	{% endfor %}
</div>

{% endblock content %}